.root {
  display: flex;
  background-color: var(--color__blue-50);
  padding: var(--space__xl);
  gap: var(--space__3xl);
  border-radius: var(--border-radius__xl);
  align-items: center;
  flex-wrap: wrap;
  inline-size: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 4 1 300px;
    gap: var(--space__lg);
}

.right {
    display: flex;
    flex-direction: column;
    flex: 6 1 300px;
    gap: var(--space__xl);
}

.image, .video {
    inline-size: 100%;
    border-radius: var(--border-radius__lg);
}

.header {
    margin: 0;
    color: var(--color__gray-800);
    font-size: var(--font-size__3xl);
    line-height: var(--line-height__3xl);
    font-weight: var(--font-weight__bold);
}

.paragraph {
    margin: 0;
    color: var(--color__gray-700);
    font-size: var(--font-size__lg);
    line-height: var(--line-height__lg);
    font-weight: var(--font-weight__medium);
}